// Import your theme variables
@import 'my-theme';

// Import MDC Web components
@import '@material/typography/mdc-typography';
@import '@material/button/mdc-button';
@import '@material/list/mdc-list';
@import '@material/menu-surface/mdc-menu-surface';
@import '@material/menu/mdc-menu';
@import '@material/select/mdc-select';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/animation/functions';
@import '@material/textfield/mdc-text-field';

@keyframes fade-in {
  from {
    transform: translateY(-280px);
    opacity: 0;
  }

  to {
    transform: translateY(100);
    opacity: 1;
  }
}

.animateSymbol {
  animation: mdc-animation-enter(/* $name: */ fade-in, /* $duration: */ 300ms);
}

// ! Not using this animation but it looks good
@keyframes bounceOut {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

.bounceOut {
  animation: mdc-animation-exit-permanent(/* $name: */ bounceOut, /* $duration: */ 350ms);
}

// .demo-width-class {
//   width: 400px;
// }

.mdc-select {
  width: 400px;
}

.sidebar500pix {
  width: 500px;
}

.newSVG {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

//This makes the SVG in the panel very large.
.newSVG svg {
  height: fit-content;
  width: fit-content;
}

.symbol-list em {
  pointer-events: none;
  //color: var(--mdc-theme-text-icon-on-primary-light);
  color: rgba($color: #000000, $alpha: 0.38);
  font-style: italic;
  // font-size: x-small;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.searchSymbols {
  width: 100%;
}

// Import your components for your application
@import 'my-components';
