// Import your theme variables
@import 'my-theme';

// Import MDC Web components
@import '@material/typography/mdc-typography';
@import '@material/button/mdc-button';
@import '@material/list/mdc-list';
@import '@material/menu-surface/mdc-menu-surface';
@import '@material/menu/mdc-menu';
@import '@material/select/mdc-select';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/animation/functions';
@import '@material/textfield/mdc-text-field';
@import '@material/elevation/mdc-elevation';

.sidebar500pix {
  width: 500px;
}

.newSVG {
  // height: 150px;
  height: 200px;
  display: flex;
  // align-items: center;
  align-items: flex-end;
  justify-content: center;
}

//This makes the SVG in the panel very large.
.newSVG svg {
  height: fit-content;
  width: fit-content;
}

.mdc-list-item em {
  pointer-events: none;
  // color: var(--mdc-theme-text-icon-on-primary-light);
  color: rgba($color: #000000, $alpha: 0.38);
  font-style: italic;
  // font-size: x-small;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.searchSymbols {
  width: 100%;
}

// Import your components for your application
@import 'my-components';
