// This sets all <h1>,...,<h6> elements with Material headline1,...,headline6 typography styles
// Check out the MDC Web documentation for how to use MDC Typography Sass mixins:
// https://github.com/material-components/material-components-web/tree/master/packages/mdc-typography
h1 {
  @include mdc-typography(headline1);
}

h2 {
  @include mdc-typography(headline2);
}

h3 {
  @include mdc-typography(headline3);
}

h4 {
  @include mdc-typography(headline4);
}

h5 {
  @include mdc-typography(headline5);
}

h6 {
  @include mdc-typography(headline6);
}

// This sets all <p> elements with Material body1 typography styles
p {
  @include mdc-typography(body1);
}

em {
  @include mdc-typography(caption);
}

svg {
  overflow: visible;
}

li.mdc-list-item {
  height: 64px;
  /* padding: 3px 10px 3px 0px; */
  padding: 0.2rem 1rem 0.2rem 0rem;
  font-size: 1.15rem;
}

li.mdc-list-item svg {
  // height: fit-content;
  // width: fit-content;
  max-height: 64px;
  max-width: 93px;
}

@keyframes fade-in {
  from {
    transform: translateY(-280px);
    opacity: 0;
  }

  to {
    transform: translateY(100);
    opacity: 1;
  }
}

.animateSymbol {
  animation: mdc-animation-enter(/* $name: */ fade-in, /* $duration: */ 300ms);
}

// ! Not using this animation but it looks good
@keyframes bounceOut {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

.bounceOut {
  animation: mdc-animation-exit-permanent(/* $name: */ bounceOut, /* $duration: */ 350ms);
}

.mdc-select {
  width: 400px;
}
