// This sets all <h1>,...,<h6> elements with Material headline1,...,headline6 typography styles
// Check out the MDC Web documentation for how to use MDC Typography Sass mixins:
// https://github.com/material-components/material-components-web/tree/master/packages/mdc-typography
h1 {
  @include mdc-typography(headline1);
}

h2 {
  @include mdc-typography(headline2);
}

h3 {
  @include mdc-typography(headline3);
}

h4 {
  @include mdc-typography(headline4);
}

h5 {
  @include mdc-typography(headline5);
}

h6 {
  @include mdc-typography(headline6);
}

// This sets all <p> elements with Material body1 typography styles
p {
  @include mdc-typography(body1);
}

em {
  @include mdc-typography(caption);
}

svg {
  overflow: visible;
}

li.mdc-list-item {
  height: 64px;
  /* padding: 3px 10px 3px 0px; */
  padding: 0.2rem 1rem 0.2rem 0rem;
  font-size: 1.15rem;
}

li.mdc-list-item svg {
  // height: fit-content;
  // width: fit-content;
  max-height: 64px;
  max-width: 93px;
}
