// Import your theme variables
@import 'my-theme';
// Import MDC Web components
@import '@material/typography/mdc-typography';
@import '@material/button/mdc-button';
@import '@material/list/mdc-list';
@import '@material/menu-surface/mdc-menu-surface';
@import '@material/menu/mdc-menu';
@import '@material/select/mdc-select';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/animation/functions';
@import '@material/textfield/mdc-text-field';
@import '@material/elevation/mdc-elevation';
@import '@material/switch/mdc-switch';
@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/icon-button/mdc-icon-button';
// Import default styles for pushbar (sidebar)
@import 'pushbar';
// Import my styled Material Design Components
@import 'my-components';
// Import default Leaflet styles
@import '../../node_modules/leaflet/dist/leaflet.css';
// Import styles for your grid overlay plugin
@import 'Leaflet.DumbMGRS';

// *********************************************************************************** //
// * Most Popular Symbols                                                            * //
// *********************************************************************************** //
.frequentlyUsedSymbolsTitle {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: block;
  color: rgba(0, 0, 0, 0.6);
}

.drag-and-drop-reminder {
  position: absolute;
  top: 7%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  left: 0%;
  color: rgba(0, 0, 0, 0.6);
  animation: pulsate 1.5s infinite;
  opacity: 0.5;
  .material-icons {
    position: absolute;
    width: 100%;
    left: -22%;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.imageList {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: transform 0.25s ease;
}

.imageList:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.tooltip {
  text-decoration: none;
  position: relative;
}

.tooltip span {
  display: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: black;
  background: white;
}

.tooltip:hover span {
  display: block;
  position: absolute;
  top: -33px;
  z-index: 1000;
  min-width: 70px;
  width: max-content;
  border: 1px solid black;
  overflow: visible;
  padding-right: 5px;
  padding-left: 5px;
}

// *********************************************************************************** //
// * Main Content (Map) / Draggable Items                                            * //
// *********************************************************************************** //
// This is the map container
.main-content {
  //overflow: auto;
  overflow: hidden;
  height: calc(100vh - 180px);
  background-color: antiquewhite;
  z-index: 0;
  cursor: crosshair;
}

.hideDataImage {
  z-index: -1;
  position: absolute;
  left: -100%;
}

.draggable {
  cursor: move;
  padding: 10px 10px 10px 10px;
}

// *********************************************************************************** //
// * Symbol Popup                                                                    * //
// *********************************************************************************** //
.symbol-info-div {
  position: absolute;
  background: white;
  border: 2px midnightblue solid;
  padding: 20px;
  min-width: 250px;
  width: max-content;
  max-width: 520px;
  border-radius: 10px;
  cursor: default;

  .deletePopup {
    border-top-right-radius: 10px;
    border-color: midnightblue;
    background-color: midnightblue;
    color: white;
    top: calc(0% - 2px);
    left: calc(100% - 27px);
    position: absolute;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  }

  .deletePopup:hover {
    background-color: rgba(25, 25, 112, 0.9);
    color: rgba(255, 0, 0, 0.9);
    cursor: pointer;
  }

  .popup-symbol-data {
    padding-top: 0.1rem;
    padding-bottom: 0.6rem;
    strong {
      font-weight: 500;
      text-decoration: underline;
    }
  }

  .deleteMarker {
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 20px;
  }

  .popup-arrow {
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: transparent transparent midnightblue transparent;
    .popup-arrow-inner {
      border-color: transparent transparent white transparent;
    }
  }
}

// *********************************************************************************** //
// * Pusbhar - Symbol Panel                                                          * //
// *********************************************************************************** //
.newSVG {
  padding-top: 95px;
  padding-bottom: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.newSVG svg {
  // height: fit-content;
  // width: fit-content;
  // Setting height and width explicitly is more accurate for the hover animation
  height: 10rem;
  width: 11rem;
  transition: mdc-animation-exit-permanent(/* $name: */ transform, /* $duration: */ 105ms, /* $delay: */ 25ms);
  transform: scale(1);
  will-change: transform;
}

.newSVG svg:hover {
  // Create a gentle scaling animation when the user hovers over the symbol
  animation: mdc-animation-enter(/* $name: */ transform, /* $duration: */ 55ms);
  transform: scale(1.1);
  cursor: grab;
}

// *********************************************************************************** //
// * Pushbar - Select Boxes                                                          * //
// *********************************************************************************** //
.symbolSelectors {
  position: absolute;
  overflow: auto;
  // Setting the height statically like this fixes an issue with Firefox
  height: 911px;
  //height: calc(100% - 20em);
  width: 100%;
  border-top: 4px midnightblue solid;
  padding-right: 30px;
  padding-left: 5px;
}

.mdc-menu-surface--open {
  overflow-x: hidden;
}

// Put all the list symbols into a grid
.listGridParent {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  em {
    pointer-events: none;
    //color: var(--mdc-theme-text-icon-on-primary-light);
    color: rgba($color: #000000, $alpha: 0.38);
    font-style: italic;
  }
  // SVG Preview of the symbol
  .symbolFigureGrid {
    grid-area: 1 / 1 / 3 / 2;
  }

  // Describes the symbol (eg- infantry)
  .symbolDescriptionGrid {
    grid-area: 1 / 2 / 2 / 5;
  }

  // Describes the symbol type (eg- Land Unit)
  .symbolTypeGrid {
    grid-area: 2 / 2 / 3 / 5;
  }
}

// *********************************************************************************** //
// * Pushbar - Text Fields                                                           * //
// *********************************************************************************** //
.mdc-text-field.searchSymbols,
.mdc-text-field.uniqueDesignation,
.mdc-text-field.higherFormation {
  width: 107%;
  text-transform: uppercase;
}

.mdc-text-field.higherFormation > i.material-icons.mdc-text-field__icon {
  top: 15px;
}

// *********************************************************************************** //
// * Pushbar - Bottom About Data                                                     * //
// *********************************************************************************** //
footer.bottom-about {
  border-top: 4px midnightblue solid;
  box-shadow: 0px -5px 5px -3px rgba(0, 0, 0, 0.2), 0px -8px 10px 1px rgba(0, 0, 0, 0.14), 0px -3px 14px 2px rgba(0, 0, 0, 0.12);
  height: 116px;
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  justify-content: flex-end;
}

.bottom-about > .app-bar-bottom__row > .app-bar-bottom__section {
  //padding-bottom: 1rem;
  justify-content: space-evenly;
  margin-right: 5px;
}

// *********************************************************************************** //
// * Scroll Bar (Works on Chrome)                                                    * //
// *********************************************************************************** //
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(25, 25, 112)));
}

// *********************************************************************************** //
// * Bottom App Bar                                                                  * //
// *********************************************************************************** //
.app-bar-bottom {
  background-color: midnightblue;
  background-color: var(--mdc-theme-primary, midnightblue);
  color: white;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.app-bar-bottom__row {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100px;

  .bottomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    .item {
      height: 40px;
      margin-bottom: 10px;
    }
    .socialIcons {
      justify-content: space-evenly;
      display: flex;
      width: inherit;
    }
  }
}

.app-bar-bottom__section {
  display: inline-flex;
  flex: 1 1 auto;
  align-items: center;
  min-width: 0;
  padding: 8px 12px;
  //! Remove MAX WIDTH to get evenly spaced sections
  //max-width: 22rem;
  width: auto;
}

.app-bar-bottom__section--align-start {
  justify-content: flex-start;
  order: -1;
  max-width: 25%;
}

.app-bar-bottom__section--align-end {
  justify-content: flex-end;
  order: 1;
  max-width: 39%;
  padding: 15px;
}

// *********************************************************************************** //
// * Remove on Production                                                            * //
// *********************************************************************************** //
.pre-container {
  width: 100%;
}

div#pre-myJSONString {
  word-break: break-all;
}

#pre-myJSONString,
#pre-regexString {
  border: 2px dashed #666;
  margin: 20px;
  padding: 10px;
  font-family: Roboto;
  letter-spacing: 1.15px;
  font-size: larger;
}

// menu surface - grid toggle buttons
.mdc-layout-grid.toggleLabel {
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  text-align: center;
}

.rightBorder {
  border-right: 1px #666 solid;
}
.leftBorder {
  padding-left: 17px;
}
