// This sets all <h1>,...,<h6> elements with Material headline1,...,headline6 typography styles
// Check out the MDC Web documentation for how to use MDC Typography Sass mixins:
// https://github.com/material-components/material-components-web/tree/master/packages/mdc-typography
html {
  overflow: hidden;
}

h1 {
  @include mdc-typography(headline1);
}

h2 {
  @include mdc-typography(headline2);
}

h3 {
  @include mdc-typography(headline3);
}

h4 {
  @include mdc-typography(headline4);
}

h5 {
  @include mdc-typography(headline5);
}

h6 {
  @include mdc-typography(headline6);
}

// This sets all <p> elements with Material body1 typography styles
p {
  @include mdc-typography(body1);
}

em {
  @include mdc-typography(caption);
}

svg {
  overflow: visible;
}

body {
  display: flex;
  height: 100vh;
  margin: 0px 0px 0px 0px;
}

// *********************************************************************************** //
// * Top App Bar                                                                     * //
// *********************************************************************************** //
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.app-bar {
  position: absolute;
}
.mdc-top-app-bar {
  z-index: 7;
}

.mdc-button.menu-surface-button {
  color: midnightblue;
  color: var(--mdc-theme-primary, midnightblue);
  background-color: rgb(128, 224, 255);
  font-size: inherit;
}

// *********************************************************************************** //
// * Top App Bar - Surface Menu                                                      * //
// *********************************************************************************** //
// Search for an address or by MGRS Coords
.mdc-text-field.searchMGRS {
  width: 100%;
}

.mdc-text-field.searchAddress {
  width: 100%;
}

.addressResults {
  border: 1px rgba(0, 0, 0, 0.87) solid;
  display: none;
  position: absolute;
  z-index: 8;
  background: white;
  /* width: 364px; */
  border-radius: 3px;
  padding: 8px;
  transition: mdc-animation-exit-permanent(/* $name: */ transform, /* $duration: */ 75ms, /* $delay: */ 25ms), mdc-animation-exit-permanent(/* $name: */ background, /* $duration: */ 75ms, /* $delay: */ 25ms);
  transform: scale(1);
  will-change: transform;
}

.addressResults:hover {
  animation: mdc-animation-enter(/* $name: */ transform, /* $duration: */ 25ms);
  transform: scale(1.051);
  background: rgb(128, 224, 255);
  font-weight: bold;
  cursor: pointer;
}

p#text-field-outlined-searchMGRS-helper-text[error] {
  color: red;
}

p#text-field-outlined-searchAddress-helper-text {
  color: rgba(0, 0, 0, 0.6);
  padding-right: 16px;
  padding-left: 16px;
}

// Map selection
ul.mdc-list--two-line .mdc-list-item {
  height: 100px;
}

li.mdc-list-item.map-item {
  padding: 0.2rem 3.1rem 0.2rem 0.2rem;
  margin-bottom: 6px;
}

.mdc-list--avatar-list .mdc-list-item__graphic.mapIcon {
  margin-right: 0px;
  width: 136px;
}

.mdc-list-item__primary-text::before {
  height: 46px;
}

.menuSurfaceHeadline {
  text-align: center;
  margin-bottom: -20px;
}

// *********************************************************************************** //
// * Dismissible Drawer Icon                                                         * //
// *********************************************************************************** //
button.mdc-top-app-bar__navigation-icon {
  transition: mdc-animation-exit-permanent(/* $name: */ transform, /* $duration: */ 75ms, /* $delay: */ 25ms);
  transform: scale(1);
  will-change: transform;
}

button.mdc-top-app-bar__navigation-icon:hover {
  // Create a gentle scaling animation when the user hovers over the Dismissible Drawer icon
  animation: mdc-animation-enter(/* $name: */ transform, /* $duration: */ 25ms);
  transform: scale(1.1);
}

// *********************************************************************************** //
// * MDC Grid                                                                        * //
// *********************************************************************************** //
.mdc-layout-grid__inner {
  align-items: center;
}

.mdc-layout-grid__inner.switches {
  //display: flex;
  //justify-content: space-between;
  font-size: larger;
  padding-left: 20px;
}

// *********************************************************************************** //
// * Select Boxes                                                                    * //
// *********************************************************************************** //
.mdc-select {
  // Default width of all the drop down select menus
  width: 450px;
}

ul.mdc-list {
  // min-width for the list items in the drop down match the select box width
  min-width: 450px;
  // When hovering, remove the horizontal scroll bar from the drop downs
  overflow-x: hidden;
  //align-items: center;
  max-width: 620px;
  width: max-content;
}

li.mdc-list-item {
  height: 64px;
  /* padding: 3px 10px 3px 0px; */
  padding: 0.2rem 2.1rem 0.2rem 0.2rem;
  font-size: 1.15rem;
  transition: mdc-animation-exit-permanent(/* $name: */ transform, /* $duration: */ 175ms, /* $delay: */ 25ms);
  transform: scale(1);
  will-change: transform;
}

li.mdc-list-item:hover {
  // Create a gentle scaling animation when the user hovers over a list item
  animation: mdc-animation-enter(/* $name: */ transform, /* $duration: */ 25ms);
  transform: scale(1.1);
  font-weight: 500;
}

.mdc-image-list__image:hover {
  animation: mdc-animation-enter(/* $name: */ transform, /* $duration: */ 25ms);
  transform: scale(1.1);
  font-weight: 500;
}

li.mdc-list-item svg {
  // height: fit-content;
  // width: fit-content;
  max-height: 100px;
  max-width: 100px;
}

.testCenter {
  justify-content: center;
}

// Increase the height on the Command Post select box items
.commandpost-list li.mdc-list-item {
  /* background: red; */
  height: 100px;
}

// *********************************************************************************** //
// * Animations                                                                      * //
// *********************************************************************************** //
.animateSymbol {
  // This will create a drop down animation in the Symbol Panel when a new symbol is selected
  animation: mdc-animation-enter(/* $name: */ fadeInAndSlideOut, /* $duration: */ 300ms);
}

// Fades the symbol out and slides the new one in from the top
@keyframes fadeInAndSlideOut {
  from {
    transform: translateY(-280px);
    opacity: 0;
  }

  to {
    transform: translateY(100);
    opacity: 1;
  }
}

.bounceIn {
  // Bounce the Mod1/2 symbols into the symbol
  animation: mdc-animation-exit-permanent(/* $name: */ bounceIn, /* $duration: */ 350ms);
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0) translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.2);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

.zoomIn {
  // Used with Mod1/2 amplifiers on Equipment
  animation: mdc-animation-enter(/* $name: */ zoom-in, /* $duration: */ 350ms);
}

@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1.5);
  }

  90% {
    opacity: 1;
  }
}
